/* --------------------------------------------- */
/*                 FONTS                         */
/* --------------------------------------------- */
@font-face {
  font-family: "Orbitron";
  src: url("./Orbitron/Orbitron-VariableFont_wght.ttf") format("woff2"),
    url("./Orbitron/Orbitron-VariableFont_wght.ttf") format("woff");
  font-weight: normal, bold;
  font-style: normal;
}
/* --------------------------------------------- */
/*              CUSTOM PROPERTIES               */
/* --------------------------------------------- */
:root {
  --primary-color: #121212;
  --secondary-color: #ffffff;
  --accent-color: #27db0f;
  --text-color: #000000;
  --background-color: #ffffff;
}
/* --------------------------------------------- */
/*                   GLOBAL                      */
/* --------------------------------------------- */
body {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: #000000;
}
h1 {
  font-size: 36px;
  margin-left: 10px;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 64px;
  margin-bottom: 24px;
  min-height: 100vh;
}
main p {
  margin-left: 10px;
}
/* --------------------------------------------- */
/*                   HEADER                      */
/* --------------------------------------------- */
header {
  background-color: var(--primary-color);
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #e7e7e7;
}
.header-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  align-items: center;
}
.fotogram-logo {
  width: 450px;
  height: auto;
}
/* --------------------------------------------- */
/*                    MAIN                       */
/* --------------------------------------------- */
.welcome-section {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Orbitron", sans-serif;
  border: none;
  cursor: pointer;
  font-size: 18px;
  height: 24px;
  margin: 24px;
  font-weight: bold;
  border-radius: 8px;
  border: solid 1px var(--secondary-color);
}
.home-button:hover {
  background-color: var(--accent-color);
}
.rights-header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-section {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}
.img-section img {
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.img-section img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.link {
  font-weight: bold;
}

/* --------------------------------------------- */
/*                 DIALOG / MODAL                */
/* --------------------------------------------- */
.dialog-picture {
  width: 650px;
  height: 400px;
  object-fit: cover;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
  background-color: var(--background-color);
}

.close-button {
  background-color: #ff4d4d;
  font-family: "Orbitron", sans-serif;
  height: 32px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
}
.dialog-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
  background-color: var(--background-color);
}
.next-button {
  background-color: var(--primary-color);
  font-family: "Orbitron", sans-serif;
  height: 32px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
}
.back-button {
  background-color: var(--primary-color);
  font-family: "Orbitron", sans-serif;
  height: 32px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
}
.dialog-footer p {
  margin: 0;
  color: var(--text-color);
}
/* --------------------------------------------- */
/*                 UPLOAD                        */
/* --------------------------------------------- */
::file-selector-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-family: "Orbitron", sans-serif;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 24px 10px;
  border-radius: 8px;
  border: solid 1px #ffffff;
}
::file-selector-button:hover {
  background-color: var(--accent-color);
}
.file-upload {
  font-size: 16px;
  font-weight: bold;
}
#fileUpload {
  width: 310px;
}
input#file-upload[type="file"] {
  display: none;
}
.upload-remove-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Orbitron", sans-serif;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 24px 10px;
  border-radius: 8px;
  border: solid 1px #ffffff;
}
.upload-remove-button:hover {
  background-color: var(--accent-color);
}
.upload-section {
  max-width: 1500px;
  padding-top: 16px;
  padding-bottom: 48px;
  display: flex;
  align-items: center;
}
/* --------------------------------------------- */
/*                    FOOTER                     */
/* --------------------------------------------- */
footer {
  background-color: var(--primary-color);
  border-top: 1px solid #e7e7e7;
  height: 12vh;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}
footer p {
  color: white;
}
.created-by-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.follow-me-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
}
.follow-me-link:hover {
  font-size: 18px;
}
.footer-rights {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
}
.footer-rights a {
  color: white;
  text-decoration: none;
}
.footer-rights a:hover {
  font-size: 18px;
}
.profil-img {
  object-fit: cover;
  width: 84px;
  height: 84px;
}
.github-logo {
  width: 40px;
  height: 40px;
}
.link-pixa {
  margin-left: 10px;
}
/* --------------------------------------------- */
/*                    DARK THEME                 */
/* --------------------------------------------- */
/** 
  * Beispiel für Verschachteltes CSS (mit dem Theme Button)
  * https://developer.mozilla.org/de/docs/Web/CSS/CSS_nesting/Nesting_at-rules
  * https://developer.mozilla.org/de/docs/Web/CSS/CSS_nesting/Nesting_and_specificity
  * https://developer.mozilla.org/de/docs/Web/CSS/CSS_nesting/Using_CSS_nesting
  */
body {
  #themeToggle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Orbitron", sans-serif;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 24px;
    border-radius: 8px;
    height: 24px;
  }

  &.dark-mode {
    #themeToggle {
      background-color: var(--accent-color);
      color: var(--secondary-color);
      border: solid 1px #ffffff;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
body.dark-mode {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
/* --------------------------------------------- */
/*                 MEDIA QUERIES                 */
/* --------------------------------------------- */
@media (max-width: 1000px) {
  .img-section img {
    width: 400px;
    height: 250px;
  }
}
@media (max-width: 880px) {
  .img-section img {
    width: 300px;
    height: 200px;
  }
  .upload-section {
    flex-direction: column;
    align-items: flex-start;
  }
  .file-upload {
    margin-left: 14px;
  }
}
@media (max-width: 710px) {
  .img-section img {
    width: 400px;
    height: 250px;
  }
  .welcome-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .fotogram-logo {
    width: 300px;
  }
  .upload-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .profil-img {
    display: none;
  }
  h2 {
    display: none;
  }
  .github-logo {
    display: none;
  }
  .dialog-picture {
    width: 400px;
    height: 250px;
  }
  .dialog-header {
    display: flex;
  }
}
@media (max-width: 490px) {
  h1 {
    font-size: 28px;
  }
}
@media (max-width: 440px) {
  h1 {
    font-size: 24px;
  }
  .created-by-container p {
    display: none;
  }
  .fotogram-logo {
    width: 250px;
  }
  .img-section img {
    width: 300px;
    height: 200px;
  }
  #fileUpload {
    width: 250px;
  }
  .rights-header-buttons {
    flex-direction: column;
    align-items: center;
  }
  .dialog-picture {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 370px) {
  h1 {
    font-size: 20px;
  }
  .img-section img {
    width: 250px;
    height: 150px;
  }
  .dialog-picture {
    width: 250px;
    height: 150px;
  }
  .follow-me-link {
    font-size: 12px;
  }
  .footer-rights {
    font-size: 12px;
  }
}
