@font-face {
  font-family: "Orbitron";
  src: url("./Orbitron/Orbitron-VariableFont_wght.ttf") format("woff2"),
      url("./Orbitron/Orbitron-VariableFont_wght.ttf") format("woff");
  font-weight: normal;
  font-style: normal;

}
body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
}
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 64px;
}
main p {
  margin-left:10px
}
header {
  background-color: #121212;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #e7e7e7;
}
.fotogram-logo {
  width: 450px;
  height: auto;
}
.welcome-section {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 36px;
  margin-left: 10px;
}
body.dark-mode #themeToggle {
    background-color:#27db0f;
    color: #ffffff;
}
.button-dark-theme {
  background-color: #121212;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
  border-radius: 8px;
}
.img-section img {
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.img-section img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.dialog-picture {
  width: 650px;
  height: 400px;
  object-fit: cover;
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.dialog-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
  background-color: #ffffff;
}
.dialog-footer p {
  margin: 0;  
  color: #000000
  }

footer {
  background-color: #121212;
  border-top: 1px solid #e7e7e7;
  height: 12vh;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}
footer p {
  color: white;
}
.created-by-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.follow-me-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
}
.follow-me-link:hover {
  font-size: 18px;
}
.profil-img {
  width: 84px;
  height: 84px
}
.github-logo {
  width: 40px;
  height: 40px;
}

